/*-----------header-----------*/
#logoleobranca{
    width: 6em;
    margin-left: 3em;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    margin-right: 1em;
    color: white;   
    text-decoration: none;
}

#links {
    margin-right: 3em;
}

.linksa{
    font-size: 1.4em;
}