.imagensdesign{
    width: 20em;
}

.fileira1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divdesign{
    margin: 3em;
    transition: 0.8s;
}

.divdesign:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

#h1design{
    color: white;
    font-size: 3.5em;
    margin-top: 1.5em;
    margin-left: 1em;
}

#iddaformacao{
    margin-left: 4em;

}

.formacao{
    font-size: 1.5em; 
}


@media (max-width: 565px){

#h1design{
    font-size: 2em;
}
    
.imagensdesign{
    width: 17em;
}
    
.fileira1{
    display: flex;
    align-items: center;
    flex-direction: column;

}

    }