/*-----------home-----------*/

#fotoleo{
    width: 20em;
}

#filadere{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin: 5em;
    
}

#html{
    background-color: white;
}


*{
    padding: 0;
    margin-top: 0.3em;
    box-sizing: border-box;
}

input[type="submit"]{
    padding: 7.5px 15px;
    font-size: 17px;
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    outline: 0;
}

input[type="submit"]:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.imghabe{
    width: 6em;
    margin: 0.8em;
}

.fundohabi {
    width: 10em;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    padding: 0.4em;
    transition: 0.8s;
}



.fundohabi:hover {
    transform: scale(1.1);
    transition: 0.8s;
}


#habi{
    margin-top: 3em;
}

#test{
    display: flex;
    flex-direction: column;
}

.habi1{
    font-size: 3em;
    margin-top: 3em;
    margin-left: 0.5em;
}

#navhabilidades{
    display: flex;
    flex-direction: row;
}

.projetos{
    width: 22em;
    margin: 2em;
    transition: 0.8s;
}

h4{
    font-size: 3em;
    margin-top: 3em;
    margin-left: 0.5em;
    
}

#fila1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#fila2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

#filadere{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 565px){

    #fotoleo{
        width: 15em;
}

#inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    margin-left: 1.5em;
}

#logoleobranca{
    width: 4.5em;
    margin: -0.5em;
    margin-left: 1em;
}

.linksa{
    font-size: 18px;
    margin: 0.5em;
}

#links{
    margin-right: 0em;
}

p{
    font-size: 0.8em;

}

h1{
    font-size: 1.3em;
}


input[type="submit"]{
    padding: 7px 12px;
    font-size: 20px;
    width: 7em;
    margin: 1em;

} 

.habi1{
    font-size: 2em;
}

.fundohabi{
    width: 7em;
    margin: 1.5em;
    padding: 0.4em;
}

.imghabe{
    width: 5em;
    margin-top: -0.01em;
    margin: 0.8em;
}

.habilidades{
    font-size: 0.9em;
    margin-bottom: 0.0001em;
    margin-top: 0.1em;
}

#navhabilidades{
    display: flex;
    flex-direction: column;
}


.habi1, h4, h2{
    margin-left: 2em;

}

h4, h2{
    font-size: 2em;
}

.projetos{
    width: 15em;
}

#navdaresponsa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 2em;
}

#test{
    margin: 0em;
}

#navhabilidades{
    margin: -1em;
}


input{
    display: flex;
    justify-content:center;
}

#botaodosaibamais{
    display: flex;
    justify-content: center;

}

p{
    font-size: 1em;
}

#filadere{
    display: flex;
    flex-direction: column;
}
}