

#h1projetos{
    font-size: 2em;
}

#fileira11, #fileira1{
    display: flex;
    flex-direction: column;
}

.iddaformacao{
    margin-left: 6em;
}


.habi12{
    font-size: 2em;
    margin-top: 3em;
    margin-left: 1.5em;
    
}

.formacao{
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

@media (max-width: 565px){

    .formacao{
        font-size: 1em;
        margin-left: 0.01em;
    }
    
    .habi12{
        margin-left: 0.8em;
    }

    #iddaformacao{
        margin-left: 2em;
    }

    .habi12{
        font-size: 1.6em;
    }

    .iddaformacao{
        margin-left:1em ;
    }
    
    .container{
            margin-top: -1em;
            margin-bottom: -3em;
            margin-left: -1.3em;
    }
    }