/*-----------Color-----------*/
body{
    background: linear-gradient(#000000,#3533CD);
}

.habilidades{
    color: black;
}

p, h4, .habi12{
    color: white;
}

h1 {
    color: white;
}

h2{
    color: white;
}

.fundohabi{
    background-color: white;
}

.habi1{
    color: white;
}